*{
    margin: 0%;
    padding: 0%;
}
body{
	font-size: 1em;
	font-family: "Trebuche MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/*cabeçalho*/
#header{
    background-color: #f7b600;
    text-align: center;
    padding: 15px;
}
#logo, #menu{
    padding: 10px;
}
#logo{
  
}
#white{
    color: white;
}
a{
    text-decoration: none;
}
a:link, a:visited{
    color: #FFF;
	padding: 8px 12px;
}
a:hover {
	color: #f7b600;
	background: #FFF
}
h1{

    color: #4e4e4e;
    font-size: 2.5em;

}

#conteudo-principal{
    width: 920px;
    background-color: #fff;
    margin: 0 auto;
}
#conteudo{
    float: left;
    width: 660px;
    background-color: red;
}

#postagem{
    padding: 20px;
}
#conteudo-lateral
{   float: right;
    width: 240px;
    background-color: aqua;

}
#rodape{
    clear: both;
    width: 920;
    background-color: black;
    margin-bottom: -45px;
}